<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Authority Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='authority_styles.css') }}"> <!-- Link to your CSS file -->
</head>
<body>
    <div class="container">
        <div class="centered-text">
            <h1>Authority Login</h1>
        </div>
        <div class="centered-image">
            <img src="{{ url_for('static', filename='authority_image.jpg') }}" alt="Authority Image">
        </div>
        <div class="subheading">
            <h2>Authority Login Screen</h2>
        </div>
        <div class="form-container">
            <form id="signupForm">
                <input type="text" name="Username" placeholder="Username">
                <input type="password" name="Password" placeholder="Password">
                <button type="submit">Login</button>
            </form>
        </div>
        <div class="signup-link">
            <p>New Authority? <a href="/authority/signup">Signup Here</a></p>
        </div>
    </div>
</body>
</html>
