<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Academic Record</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <h1>Student Academic Record</h1>
    </header>
    <div class="container">
        <nav>
            <a href="/institution/login">Institution Login</a>
            <a href="/authority/login">Authority Login</a>
            <a href="/student/login">Student Login</a>
        </nav>
        
        <div class="container">
            <div class="image-container">
                <img src="static/img.jpg" alt="Institution Signup Image">
                <div class="overlay-text">
                    <h2 class="project-title">BLOCKCHAIN BASED ACCESS MODEL FOR STUDENT ACADEMIC RECORDS WITH AUTHENTICATION</h2>
                </div>
            </div>

            <div class="content">
                <h2>About</h2>
                <p>Student's records and certificates are kept on file by schools and institutions for purposes such as credit transfer and future verification. <br> To guarantee that the data and documents are authentic and unchanged, these processes are manually completed, which typically requires more time and effort.</p>
                <p>While digitalizing these processes reduces time and energy usage, there are significant security risks involved. Data breaches caused by human mistakes, injection assaults, and buffer overflow attacks are among the issues associated with storing student data on a centralized system. <br>
                    In addition, even if physical server damage occurs, it will take longer to recover the affected data and get the system back up and running. Comparing blockchain technology to traditional databases, however, the data is stored in blocks that are linked by a previous block's cryptographic code, providing increased security. <br>The decentralized technology can detect any attempt at data manipulation or hacking with ease and stop it in its tracks. To provide the maximum level of security for the Academic Record System, three layers of blockchain are being used.</p>
            </div>
</body>
</html>
